<%= form_for @resume, html: { multipart: true } do |form| %>
  <% if resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :title ,class: "form-group" %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category ,class: "form-group" %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year ,class: "form-group" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price  ,class: "form-group"%>
  </div>

  <div class="field">
    <%= form.label :attachment ,class: "form-group" %>
    <%= form.file_field :attachment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
